body {
  overflow: hidden;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transition: background-color 0.75s ease;
}
.quotebox {
  max-width: 640px;
  padding: 1em;
  transform: scale(0);
  animation: ease-out forwards 0.6s;
  opacity: 0;
  &__text {
    line-height: 1.5;
    text-align: justify;
    svg {
      opacity: 0.33;
      &:nth-of-type(1) {
        margin-right: 0.75em;
      }
      &:nth-of-type(2) {
        margin-left: 0.75em;
      }
    }
  }
  &__author {
    margin: 32px 0;
    text-align: end;
  }
  &__buttons {
    justify-content: space-between;
    a:hover,
    button {
      color: white !important ;
    }
  }
}
.credite {
  position: absolute;
  bottom: 3em;
  transform: scale(0);
  opacity: 0;
  transition:    0.6s ease;
  transition-property: opacity,transform;
  animation:   infinite 6s cubic-bezier(0.5, 0.5, 0.5, 1.5);
}
@keyframes quoteboxIn {
  from {
    transform: scale(0) ;
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes quoteboxOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes hover {
  0% ,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-36px);
  }
}
